body {
    background: url('../img/texture-bg.jpg');
    height: 100%;
}

a {
    text-decoration: none;
    font-family: 'Libre Franklin', sans-serif;
}

.left-col {
    /*background: red;*/
    width: 15%;
    float: left;
}

.centre-col {
    /*background: blue;*/
    width: 70%;
    float: left;
}

.right-col {
    /*background: green;*/
    width: 15%;
    float: left;
}

.content-container {
    width: 70%;
    margin: 0 auto;
}

footer {
    /*background: pink;*/
    margin: 0;
    position: fixed;
    top: 90%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.text-link {
    margin: 60px auto;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    font-weight: bold;
}

.text-link a {
    padding-bottom: 5px;
    color: #10dcb2;
}

.text-link a:hover {
    color: white;
    transition: color 0.3s ease-out;
}


/* Underline From Left */

.hvr-underline-from-left {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    overflow: hidden;
}

.hvr-underline-from-left:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: #10dcb2;
    height: 1px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
    right: 0;
}

.home {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.name {
    font-family: 'Libre Franklin', sans-serif;
    letter-spacing: 0.1em;
    font-size: 80px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
}

.strapline {
    font-family: 'Playfair Display', serif;
    margin-top: 40px;
    font-size: 36px;
    text-align: right;
    color: #10dcb2;
}

.about {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 70%;
}

.about-content {
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    color: #10dcb2;
    padding: 50px;
    text-align: justify;
}

.portfolio-title {
    font-family: 'Libre Franklin', sans-serif;
    color: white;
    text-align: center;
}

.card-container {
    text-align: center;
    margin-bottom: 100px;
}

/*.img-container {
    margin: 0 auto;
}*/

.portfolio-img {
    -webkit-box-shadow: 0 0 75px 20px rgba(0, 0, 0, .65);
    width: 70%;
}

/* Grow */

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-box-shadow: 0 0 75px 20px rgba(0, 0, 0, .50);
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.hidden {
    opacity: 0;
    display: none;
}

.visible {
    opacity: 1;
    display: block;
}

.contact-menu>ul {
    list-style: none;
    text-align: center;
    -webkit-padding-start: 0 !important;
}

.icon-box {
    height: 60px;
    width: 60px;
    border: 1px solid #10dcb2;
    font-size: 22px;
    display: inline-block;
    transition: background 0.6s ease-out;
}

.icon-box:hover {
    background-color: #10dcb2;
}

.icon-box:hover i {
    color: rgba(255, 0, 0, 0.5);
}

.link-container {
    margin: 0;
    position: relative;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.contact-menu {
  transform: translate(0%, 0%);
  transition: transform 0.6s ease-in-out 1s;
}

.contact-menu-moved {
    transform: translate(275%, 0%);
    transition: transform 0.6s ease-in-out;
}

.link-container>a {
    color: #10dcb2;
}
